body{
  min-height: 400px;
  min-width: 300px;
  background-color: #f9f9fa;
  color: gray;
  font-family: Tahoma, Geneva, sans-serif;
  font-size:14px;
}

#container{
  width: 100%;
  margin: 0 auto;
  padding: 12px;
}

.section_title{
  font-size: 18px;
  margin-bottom: 18px;
  padding-bottom:12px;
  text-align: center;
  border-bottom: 1px solid gray;
}

.section{
  display: none;
}

.center{
  text-align: center;
}

.validation_errors > li{
  color: #E4584D;
}

#top_nav{
  width: 100%;
  height: 50px;
  paddding: 0px;
}
.nav_item{
  margin: 0px;
  display: inline-block;
  width: 23%;
  height: 100%;
  text-align: center;
  padding-top: 12px;
}
.nav_item:hover{
  cursor: pointer;
  background-color: gray;
  color: white;
}

.slider{
  -webkit-appearance: none;
  width: 100%;
  height: 25px;
  background: #d3d3d3;
  outline: none;
  opacity: 0.7;
  -webkit-transition: .2s;
  transition: opacity .2s;
}

.password_option{
  width: 30px;
}

#password_output{
  max-width: 250px;
  overflow-x: auto;
  margin-top: 12px;
  font-size: 16px;
  text-align: center;
}

.centered_button{
  width: 60%;
  margin-left: 20%;
  margin-bottom: 12px;
}

.accounts_found{
  max-height: 400px;
}

.account{
  width: 80%;
  padding: 3px;
  background-color: #fff;;
  cursor: pointer;
  margin: auto;
  margin-bottom: 6px;
  box-shadow: 0 0 1px rgba(0, 0, 0, 0.12);
}

.account:hover{
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.24);
}

a{
  color: blue !important;
  cursor: pointer;
}
a:hover{
  text-decoration: underline !important;
}
